<%- include("../includes/navbar.ejs")  %>
<%- include("../includes/flash.ejs")  %>

<ol class="breadcrumb  p-3 rounded" style="background-color: rgb(226, 222, 222);">
    <li class="breadcrumb-item">
        <a href="/admin">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Manage Users</li>
</ol>


<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-users"></i>
        Registered Users
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>User Name</th>
                        <th>Contact</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0 ;i<users.length ; i++) {  %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= users[i].username %></td>
                        <td><%= users[i].phone %></td>
                        <td><%= users[i].email %></td>
                        
                            <td>
                            <a href="/admin/deleteUser/<%= users[i]._id %>" class="btn btn-outline-danger  "><i class="fa fa-trash"></i> Delete</a>
                        </td>
                    </tr>
                    <% } if(users.length < 1) { %>
                        <tr>
                        <td colspan="4" style="text-align: center;"><h5>No User Available </h5></td>
                        </tr>
                        <% } %>
                </tbody>    

            </table>
        </div>
    </div>
    
</div>

<%- include("../includes/footer.ejs")  %>
